NEXT_PUBLIC_SITE_URL=https://thailotterychecktoday.com
NEXT_PUBLIC_SUPABASE_URL=https://auuqxnglhvacxwywfcwv.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImF1dXF4bmdsaHZhY3h3eXdmY3d2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjY2NTMzODAsImV4cCI6MjA4MjIyOTM4MH0.3723GfxjcxPtdasm9LIDv6N0kXDvzOwt2EE0oLtE9uk
CRON_SECRET=GenerateARandomSecretHere
