@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0f172a;
}

body {
  background-color: #f8fafc;
  /* Slate-50: crisp white feel but not blinding */
  color: var(--foreground);
}